# Environments
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Tests / Coverage
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Linting
.ruff_cache/

# Environment variables
.env
.venv
.env.local
.idea

# Project specific
/WEAKNESSES.md
/todo.md
/SECURITY_REPORT.md

/src/generic_llm_lib/repo_context.md
/src/generic_llm_lib/repo_to_md.py
